{% extends 'registration/base.html.twig' %}
{% use "bootstrap_4_layout.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h3>Reset your password</h3>

    {{ form_start(requestForm) }}
        
        <div>
            <small>
                Enter your email address and we will send you a
                link to reset your password.
            </small>
            {{ form_row(requestForm.email) }}
        </div>

        <button class="btn btn-primary">Send  email</button>
    {{ form_end(requestForm) }}
{% endblock %}
